<div class="property">
<% new_or_existing = property.new_record? ? 'new' : 'existing' %>
<% prefix = "product[#{new_or_existing}_property_attributes][]" %>
<% fields_for prefix, task do |property_form| -%>
<p>
Property: <%= property_form.text_field :name %>
<%= link_to_function "remove", "$(this).up('.property').remove()" %>
</p>
<% end -%>
</div>
